name: CI/CD for Hospital Bed Prediction

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # allows pushing generated files back to repo

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run ML model
      run: |
        python src/model.py

    - name: Commit and push predictions
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add predicted_beds.csv model.pkl || echo "No changes"
        git commit -m "Auto-update predictions" || echo "No changes to commit"
        git push origin main || echo "Push skipped"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: predicted-beds
        path: predicted_beds.csv
