#name: CI/CD for Hospital Bed Prediction

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run ML model
      run: |
        python src/model.py

    - name: Upload predictions
      uses: actions/upload-artifact@v4
      with:
        name: predicted-beds
        path: predicted_beds.csv
